---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import type { SbBlokData } from '@storyblok/astro'

interface GridBlok extends SbBlokData {
  columns?: SbBlokData[]
}

interface Props {
  blok: GridBlok
}

const { blok } = Astro.props
---

<div class="grid-blok" {...storyblokEditable(blok)}>
  {blok.columns?.map((col) => (
    <StoryblokComponent blok={col} />
  ))}
</div>
