---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.tsx'
import { BookCarousel } from '../components/BookCarousel.tsx'
import Footer from '../components/Footer.tsx'

---

<Layout
  title="Goff-Nelson Memorial Library | Books, Events & Community Resources"
  description="Your community library in Tupper Lake, NY. Browse books, eBooks, audiobooks, DVDs, attend events, join programs for kids and teens, and access free digital resources."
  image="/images/outsidebuilding/outside.webp"
>
  <Nav client:load />

  <main>
    <div id="events">
    <input class="search" aria-labelledby="search-events"
    type="search"
    >

    <!-- Footer -->
    <Footer client:load />
  </main>
  </div>
</Layout>