---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout>
  <NavBar />
  <main>
      <img src="images/" alt="hero-img">
    <p>Goff Nelson Memorial Library</p>
  </main>
</Layout>
