<header>
  <nav class="navbar" aria-label="Main navigation">
    <div class="logo">
      <img src="/assets/logo2.png" alt="Goff Nelson Memorial Library" />
    </div>

    <div class="dropdown">
      <button class="dropbtn" aria-haspopup="true" aria-expanded="false">
        Books &amp; Media <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <div class="header"><h2>Books &amp; Media</h2></div>
        <div class="row">
          <div class="column">
            <h3>Books &amp; Media</h3>
            <a href="#">Books</a>
            <a href="#">E-books</a>
            <a href="#">Audiobooks</a>
            <a href="#">DVDs &amp; Blu-rays</a>
          </div>
          <div class="image-column">
            <img src="/assets/mega-menu-image.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" aria-haspopup="true" aria-expanded="false">
        Events <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <div class="header"><h2>Events at Goff Nelson</h2></div>
        <div class="row">
          <div class="column">
            <h3>Events</h3>
            <a href="#">Calendar of Events</a>
            <a href="#">Book Clubs</a>
            <a href="#">Children's Programs</a>
            <a href="#">Teen Programs</a>
          </div>
          <div class="image-column">
            <img src="/assets/mega-menu-image.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" aria-haspopup="true" aria-expanded="false">
        About <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <div class="header"><h2>About Goff Nelson</h2></div>
        <div class="row">
          <div class="column">
            <h3>About the Library</h3>
            <a href="#">Board of Trustees</a>
            <a href="#">Finances &amp; Budget</a>
            <a href="#">History of Goff Nelson</a>
            <a href="#">Policies &amp; Procedures</a>
          </div>
          <div class="image-column">
            <img src="/assets/mega-menu-image.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
